.container {
    margin-top: 30px;
    height: 500px;
    /* border: 1px solid black; */
    box-shadow: 2px;
    text-align: center;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.common {
    box-shadow: 1px 2px 3px #C5C5C5, -1px -2px 3px #C5C5C5;
}

#row1 {
    height: 300px;
}

#row2 {
    height: 200px;
}

#col2 {
    background-color: #AED6F1;
}

#col1 {
    background-color: #AEB5F1;
}

.same {
    margin-top: 50px;
}

#save {
    margin-top: 50px;
    background-color: #ff008c;
    padding: 20px 20px;
}

#currentdice {
    margin-top: 50px;
    background-color: #ff008c;
    padding: 20px 20px;
}

#resat {
    margin-top: 50px;
    background-color: #ff008c;
    padding: 20px 20px;
}

img {
    height: 74px;
    width: 74px;
    border-radius: 10px;
}

p {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 0px;
    border: 2px solid black;
    margin: 0px 0px;
}

#p1_current {
    color: #0400ff;
    display: none;
    font-size: 30px;
}

#p0_current {
    color: rgb(255, 0, 0);
    font-size: 30px;
}

#player_current-1 {
    font-size: 60px;
}

#player_current-0 {
    font-size: 60px;
}

@media screen and (max-width: 570px) {
    #player_current-1 {
        font-size: 30px
    }

    #p0_current {
        color: rgb(255, 0, 0);
        font-size: 30px;
    }
}

@media screen and (max-width: 570px) {
    #p0_current {
        color: rgb(255, 0, 0);
        font-size: 30px;
    }
}